
body {margin: 80px;
font-family: Arial, Helvetica, sans-serif;}

img {border-radius: 28px;}

h1 {font-size: 16px;
color: red;
text-transform: uppercase;}

h2 {font-size: 40px;
padding-bottom: 40px;}

h1, h2{line-height: 10%;}

h3 {font-size: 28px;}

#rodapebusan {font-size: 14px;
color: #6e6a6a;
padding-bottom: 6%;
text-align: center;}

p {font-size: 16px;
text-align: justify;
margin-right: 30px;
margin-bottom: 50px;}

#bompara {font-weight: bold;margin-top: -3%;}
#historia {font-weight: bold;
color: blue;
margin-top: -5%;}

#descricaobeomeo {margin-top: -2%;}
#descricaohaedong {margin-top: -2%;}
#titulohaedong {margin-top: 10px;}
#titulobeomeo {margin-top: 10px;}
#descricaoyongdusan {margin-top: -2%;}
#tituloyongdusan {margin-top: 10px;}

#casais {color:blueviolet;}
#familia{color:rgb(252, 142, 160);}
#orçamento{color: orange;}

#orçamento, #familia, #casais{font-weight: bold;
  margin-top: -5%;}

#texrodapeprojeto {text-align: center;margin-top: 10%;}

#coracaozinhoicon {vertical-align:middle;}

footer {text-align: center;
margin-top: 10%;}